* {
    margin: 0;
    padding: 0;
}

.display {
    font-size: 100px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#answer-list>li {
    display: flex;
    flex-direction: row;
}

#write-tp {
    padding: 5px;
    width: 1010px;
    height: 275px;
    font-size: 25px;
}

#output {
    width: 1010px;
    height: 275px;
    font-size: 25px;
}